<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.satorufujiwara.trykotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".question.Question1Activity" />
        <activity android:name=".answer.Answer1Activity" />

        <activity android:name=".question.Question2Activity" />
        <activity android:name=".answer.Answer2Activity" />

        <activity android:name=".question.Question3Activity" />
        <activity android:name=".answer.Answer3Activity" />

        <activity android:name=".question.Question4Activity" />
        <activity android:name=".answer.Answer4Activity" />
        <activity android:name=".answer.Answer4OtherActivity" />

        <activity android:name=".question.Question5Activity" />
        <activity android:name=".answer.Answer5Activity" />

    </application>

</manifest>